[2017-11-27 19:21] vitalyfriedman commented on #105
Thank you so much for bringing our attention to it, @jeankaplansky — will look into it first thing tomorrow mornig!

[2017-11-27 19:48] vitalyfriedman commented on #298
Thank you so much, @neilbridge — fixing in the new deploy tonight!

[2017-11-27 19:48] #298 closed, assigned to nobody

[2017-11-27 19:53] vitalyfriedman commented on #277
Thank you so much for your feedback — we are listening and we are exploring options and suggestions for change. We know that some change will have to be made, we just need to see it through. Thanks for sticking around! @spartanatreyu @Dorza @2mhost @k0R73z @theartofpeople @rafal-leap @Semo @WouterWidgets

[2017-11-27 19:58] vitalyfriedman commented on #276
Thanks @williamukoh — fixing with today's deploy!

[2017-11-27 19:58] #276 closed, assigned to nobody

[2017-11-27 20:10] theartofpeople commented on #277
You're welcome!

[2017-11-27 21:24] LpmRaven commented on #135
Totally agree with @jeankaplansky. Thought this would have been sorted before release.

[2017-11-28 05:25] jeankaplansky commented on #105
@vitalyfriedman - you're welcome!

[2017-11-28 11:51] vitalyfriedman commented on #277
Dear friends @spartanatreyu @Dorza @2mhost @k0R73z @theartofpeople @rafal-leap @Semo @WouterWidgets,

I've been playing with the layout a little bit, and I'd love to get your feedback. Please take a look:

![red-2](https://user-images.githubusercontent.com/4688396/33318356-0e8312ba-d443-11e7-8cad-1e218d3cc67f.gif)

Thoughts?

[2017-11-28 12:14] coliff opened #302 "<meta name="description" content=""/>"
<meta name="description" content=""/>

I guess the homepage should have a meta description

[2017-11-28 13:03] mrpritchett commented on #277
I don't have any thoughts other than, "Damn, @vitalyfriedman needs a tab manager." :P

[2017-11-28 13:05] vitalyfriedman commented on #277
Oh well, @mrpritchett — don't change the subject! :D

[2017-11-28 13:33] leoloso opened #303 "Not all articles seem to have been indexed by Algolia"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Searching for string "www.mydomain.com" produces no results, or searching for "wp_enqueue_script" produces results with either "enqueue" or "script", however there is at least one article with these strings: https://www.smashingmagazine.com/2017/10/service-worker-single-page-application-wordpress-s

[2017-11-28 13:55] vitalyfriedman commented on #286
Oh, good catch! On it, @farskid :-)

[2017-11-28 14:09] tipsy commented on #277
Please don't just enlarge everything for high resolution monitors. Set a width-limit.

Edit: Also, the click-area for the top articles seems a bit extreme (there is no indication that everything is a link)

Edit2: What's the purpose of the `Don’t Miss These Articles on Smashing` floating text? I'm already here browsing articles, why are you telling me not to miss them? 🤔

Edit3: The `Don’t Miss Th

[2017-11-28 15:57] taylorc93 opened #304 "Redux logger is enabled on the live site"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
The redux logger is enabled on the live site
**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Navigate to the live site
1. Open the developer console
1. You should see redux logger output in the console
**- What is the expected behavior?**
This should be disabled in

[2017-11-28 15:58] taylorc93 commented on #304
Whoops, just noticed there's already an issue for this, closing

[2017-11-28 15:58] #304 closed, assigned to nobody

[2017-11-28 18:09] chrisheninger opened #305 "Article header positioning bug in Firefox 57 (Responsive, 1008px+)"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
`.article__header` on `https://www.smashingmagazine.com/design-systems-book/` in Firefox are positioned incorrectly when the viewport is sized at over 1008px.
<img width="1314" alt="screen shot 2017-11-28 at 11 05 01 am" src="https://user-images.githubusercontent.com/5051745/33336113-2f9e5fde-d42c-

[2017-11-28 21:02] Semo commented on #277
@vitalyfriedman Thank you for your fast response and your elaborated layout. I like it better, that you put more articles into the same line. You reduced the font size slightly for people with a normal vision. Also you put more content into one line, so that one doesn't need to buy a free spinning mouse wheel mouse to get to the middle or after some boost-scroll-actions to the bottom of the page.

[2017-11-28 22:40] jdavies322 commented on #277
Add me to the list of folks who are not fond of (1) the block-grid headlines-only home page layout, (2) the heavy-handed default red, the (3) lack of visual hierarchy.

I think the _worst_ aspect is the removal of the featured image/screenshot and intro grafs, which in the old design served to instantly convey context and topic. I would often be drawn to click through based on the home page screen

[2017-11-29 01:05] normanfrancis opened #306 "Featured articles off-center on homepage"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
The featured articles on the homepage appear misaligned where edges meet in the center.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Navigate to [www.smashingmagazine.com](https://www.smashingmagazine.com)
![image](https://user-images.githubusercontent.com/3194254

[2017-11-29 06:34] Graahf opened #307 "Hover makes text jump on button"
Hi,

When looking at your memberships, I noticed that when hovering your "become a member" offer, the text on the button jumps.

I've illustrated the issue here
https://www.screencast.com/t/JjsW86b3D

I'm sitting on Chrome Version 62.0.3202.94 (Officiel version) (64-bit) - windows 10 (64bit)

Yours sincerly
Graahf

**- Do you want to request a *feature* or report a *bug*?**

**- What is the curren

[2017-11-29 07:39] Fjonan opened #308 "Featured Articles Teaser Shadow blocks pointer events"
the .featured-articles__teaser::after pseudo element blocks pointer events which on desktop results in some links not being clickable. I suggest to add pointer-events: none to the pseudo element

![pointerevents](https://user-images.githubusercontent.com/21336161/33363459-bb9f90ac-d4e0-11e7-918e-395976223017.jpg)

[2017-11-29 08:47] tehmooo commented on #299
Same behaviour for me - windows 10, chrome

I'll be honest, I think this whole new website is a giant mess and awfully designed.. :(

[2017-11-29 08:52] maliMirkec opened #309 "Smashing Magazine Print image is not loading"
**- Do you want to request a *feature* or report a *bug*?**

Bug.

**- What is the current behavior?**

![bug](https://image.prntscr.com/image/MuAyKjKFRAKQ12P4zde2xQ.png)

**- Please mention your operating system version and the version of your browser**

Mac, Chrome Canary

[2017-11-29 10:25] ghost opened #310 "Don't see sharing social buttons"
I don't see sharing social button (tweet it, share it,...) on article.
![screen shot 2017-11-29 at 5 25 25 pm](https://user-images.githubusercontent.com/25975197/33370538-667a707a-d52a-11e7-90a5-36762d052d68.png)

[2017-11-29 12:01] RadekHavelka commented on #277
I simply hate it. Its too big, too red (yes, I know the button ...), too messy - the details have been already mentioned above. The modification of font to reduce by one in size doesnt make it better in any way. Please, go back to previous design - that one I gladly showed to my colleagues to demonstrate clean, sharp, with excelent font usage, design. This one I showed just once, how things could

[2017-11-29 14:44] vitalyfriedman commented on #308
Good call, @Fjonan — thanks will look into it!

[2017-11-29 15:57] nilsmielke opened #311 "Smashing TV listing order is upside down"
**- Do you want to request a *feature* or report a *bug*?**
"Bug"

**- What is the current behavior?**
Webinar listing is ordered from the date farthest away (Tim) down to the closest date (Rachel).

**- If the current behavior is a bug, please provide the steps to reproduce.**
Visit https://www.smashingmagazine.com/smashing-tv/

**- What is the expected behavior?**
Order from closest date (Up nex

[2017-11-29 16:21] nilsmielke opened #312 "Reveal effect on Coming Up Next items text in Membership buggy on small-caps spans"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
The reveal effect leads its own life on `<span class="small-caps">60</span>`. See GIF:
![ezgif-5-29d95e3db0](https://user-images.githubusercontent.com/8496033/33385593-4308bad0-d529-11e7-891c-0499025260ca.gif)

**- If the current behavior is a bug, please provide the steps to reproduce.**
Hover ove

[2017-11-29 18:42] asheberly opened #313 "Bug: Team images linking to JPG/PNG files"
Hey guys! I found a bug where the editorial team photos on the About Us page link to the photo itself. I was expecting a mini-bio with social channels for each team member. OR, no link at all.

SUPER low priority, but thought I'd pass along.

https://www.smashingmagazine.com/about/
Mac OS, Chrome

[2017-11-29 21:45] PaulvdDool opened #314 "Buggy back-to-top button on iOS"
**- Do you want to request a *feature* or report a *bug*?**
Feature (or rather an enhancement)

**- What is the current behavior?**
The back to top button hides on mobile when I'm scrolling to the top and only shows when I'm scrolling down.

**- What is the expected behavior?**
I expect the behavior to be reverted. That the button hides when I'm scrolling down and shows when I'm scrolling up. As a

[2017-11-29 22:41] vitalyfriedman commented on #311
Thanks for reporting it, @nilsmielke — aware of it and will fix it :)

[2017-11-29 22:50] vitalyfriedman commented on #308
Fixed and will be deployed shortly @Fjonan!

[2017-11-29 22:50] #308 closed, assigned to nobody

[2017-11-29 22:54] vitalyfriedman commented on #279
Currently resolved. Twitter username isn't required any longer. @leoloso Good catch!

[2017-11-29 22:54] #279 closed, assigned to nobody

[2017-11-29 23:04] vitalyfriedman commented on #305
Unfortunately I couldn't reproduce it at all @chrisheninger — could you try again?..

[2017-11-29 23:13] opsional opened #315 "Content on left area make my neck sick"
It's not realy buggy but success make my neck sick, can you place content not on very left area? The old content placement better than now.

[2017-11-29 23:14] vitalyfriedman commented on #309
Fixing in the next deploy, thank you @maliMirkec!

[2017-11-29 23:14] #309 closed, assigned to nobody

[2017-11-30 02:39] spartanatreyu commented on #277
I think there are two main improvements to be made here:

1. Bring back images on the previews of articles on the homepage. [This comment by @jdavies322  goes into this more.](https://github.com/smashingmagazine/redesign/issues/277#issuecomment-347688473)
2. I can't see if you have (based on [that gif above](https://user-images.githubusercontent.com/4688396/33318356-0e8312ba-d443-11e7-8cad-1e218d3

[2017-11-30 03:00] ux-leap commented on #277
Vertical scanning is always more difficult than the horizontal one and you are jumping from 7 rows to  3 than 4  than 7 than unbalanced 2 and so on. Changing font sizes and paddings won't help in my opinion the format/design all together is very hard to accept.

I don't understand why do you need so crazy design??? We are unable to navigate this page and cross-relate what is what...

This is simpl

[2017-11-30 03:44] indysigner commented on #241
The issue should be resolved, could you please try again and let me know if it still redirects to `/membership/` instead of `/membership` @KarlFitz? Thank you!

[2017-11-30 11:33] fwolle30 opened #316 "Skip to content doesn't set the taborder right"
When I use the Tab Key after the page has loaded, the is a notification telling me, that I could skip to the main content.

However, if I use this link, and tab aggain, I'm back up to the top of the page.
What should happen instead is, that the next time I press tab, focus indicator should be on an element in the main content section, and not on top pf the page.

Used Browser: Google Chrome v. 62.

[2017-11-30 12:25] PimDerks opened #317 "HTML of main menu is inaccessible"
**- Do you want to request a *feature* or report a *bug*?**

Bug.

**- What is the current behavior?**

Items in main navigation have multiple `role=presentation` attributes, causing them to be hidden in AT. I also do not consider it correct to using headings in the menu, as they simply are not headers...?

[2017-11-30 13:47] sprom opened #318 "i have latest browser of chrome and firefox but anyway text and buttons not showing up for me"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your operating system version and the version of your browser**

[2017-11-30 13:48] sprom commented on #318
im front-end developer and im sure problem not with my device

[2017-11-30 18:59] indysigner commented on #266
Hi Bjørn, yes we are working on it (in our internal repo), thanks so much for the heads-up! I'm closing this issue over here since the Hugo update should go live soon. Thank you!

[2017-11-30 18:59] #266 closed, assigned to nobody

[2017-11-30 19:00] indysigner commented on #318
Hi @sprom, do you have any screenshots that you could share with us? Ideally with the Console tab in Devtools open. Thank you!

[2017-11-30 19:07] indysigner commented on #247
This issue has been resolved, thanks for reporting it!

[2017-11-30 19:07] #247 closed, assigned to nobody

[2017-11-30 21:57] chrisheninger commented on #305
Still broken in Firefox for me. My assumption about `.article__header` was wrong– after taking a closer look it's something to do with the way Firefox is handling the `:before` block and the paragraph that is supposed to be wrapping around it.

<img width="883" alt="screen shot 2017-11-30 at 2 47 19 pm" src="https://user-images.githubusercontent.com/5051745/33456936-2e48feec-d5de-11e7-9042-1b679d0

[2017-11-30 22:11] vitalyfriedman commented on #219
Dear @shadeed — could you look into this preview one more time, please?
https://deploy-preview-1958--smashing-magazine.netlify.com/

[2017-11-30 22:11] vitalyfriedman commented on #318
Dear @sprom — could you check if you still have the issue in here:
https://deploy-preview-1958--smashing-magazine.netlify.com/ ?

Thank you!

[2017-11-30 22:12] vitalyfriedman commented on #311
Fixed! :-)

[2017-11-30 22:12] #311 closed, assigned to nobody

[2017-11-30 22:13] vitalyfriedman commented on #305
Very strange. Still trying to fix the bug. Seems to be a weird one @chrisheninger

[2017-11-30 22:14] vitalyfriedman commented on #293
That's very strange — couldn't replicate it in Safari 11. Is it possible that it happened on the first load only? Could it be the issue with critical CSS?

![screen shot 2017-12-01 at 12 13 50 am](https://user-images.githubusercontent.com/4688396/33457855-90cba788-d62c-11e7-8856-aa0db294d299.png)

@kobebeef

[2017-11-30 22:15] vitalyfriedman commented on #302
On it, @coliff — thanks for reporting it!

[2017-11-30 22:16] vitalyfriedman commented on #278
Thank you so much for reporting it, on it! @Philosoft

[2017-11-30 22:21] kobebeef commented on #293
@vitalyfriedman it now work's on my machine. nice animation! I guess it's time to close the issue... probably one of these things where one won't really figure out what happened or what caused the bug

[2017-11-30 22:21] #293 closed, assigned to nobody

[2017-11-30 23:33] vitalyfriedman commented on #275
Dear @djschoone — should be working now? What URL are you trying to use?

[2017-11-30 23:34] vitalyfriedman commented on #274
Dear @DirtyF — the issue should be resolved now! Can you give it a try, please?

[2017-11-30 23:34] vitalyfriedman commented on #268
Fantastic! Closing the issue now, @marlass

[2017-11-30 23:34] #268 closed, assigned to nobody

[2017-11-30 23:35] vitalyfriedman commented on #264
Dear @siliconforks — could you double check again, please? The issue should be resolved now.

[2017-11-30 23:44] vitalyfriedman commented on #259
The issue is fixed now. Still, have to adjust the styling of tables. On it, dear @leoloso!

[2017-12-01 00:05] maiki commented on #264
@vitalyfriedman the feed at https://www.smashingmagazine.com/feed/ works, but you ought to turn off the feed at https://www.smashingmagazine.com/index.xml, which shows weird content from all over the place (space *and* time).

[2017-12-01 02:10] DirtyF commented on #274
👋 @vitalyfriedman — If I reset the cache and reload the page the FOUC is still happening on Firefox 😕

[2017-12-01 02:11] lembitk commented on #264
I discovered the new, broken [`index.xml` feed](https://www.smashingmagazine.com/index.xml) because the [old, “canonical” `feed/` feed](https://www.smashingmagazine.com/feed/) was redirected to it for some time around the recent relaunch (~9 days, considering when this issue was opened..?).

The redirect is gone now which IMHO solves the issue for most folks (i.e. most of pre-relaunch RSS subscrib

[2017-12-01 02:55] zisad opened #319 "https://www.instagram.com/snowfall_jannat/"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your operating system version and the version of your browser**

[2017-12-01 07:47] djschoone commented on #275
Works! https://www.smashingmagazine.com/category/wallpapers

Thanks.

[2017-12-01 07:47] #275 closed, assigned to nobody

[2017-12-01 08:20] shadeed commented on #219
Sure @vitalyfriedman, please see the below screenshot (Edge 38).

![virtualbox_ms edge_01_12_2017_10_22_02](https://user-images.githubusercontent.com/8038659/33473970-48648db6-d681-11e7-8c8e-6ce5ad27d6b5.png)

[2017-12-01 13:55] #319 closed, assigned to nobody

[2017-12-01 14:11] Heydon commented on #317
Hi @PimDerks,

The `role="presentation"` attribution does not hide the content in AT, only the semantics. You are correct that `<h2>` is not a correct element in a navigation menu, hence `role="presentation"` to suppress its semantics 👍

[2017-12-01 14:30] PimDerks commented on #317
Thanks for the comment! I wonder why they would suppress semantics, instead of just using a `div` or `span` instead of the `h2` - or using an empty `alt` on the image...?

[2017-12-01 14:38] Heydon commented on #317
I don't know why it was used in the first place, but the easiest way for me to fix it was to use `role="presentation"`. That way, I didn't break the CSS.

[2017-12-01 15:57] siliconforks commented on #264
The feed at https://www.smashingmagazine.com/feed looks fine to me.  As others have pointed out above, it might be a good idea to remove the feed at https://www.smashingmagazine.com/index.xml or 301 redirect the URL to the new feed.

[2017-12-01 15:57] #264 closed, assigned to nobody

[2017-12-01 15:58] vitalyfriedman commented on #317
Mmm, so what would be the ultimate recommendation here, @Heydon @PimDerks? :-)

[2017-12-01 16:40] Heydon commented on #317
@vitalyfriedman It's fine as it is. But if we can replace the `<h2>`/`<figure>` stuff with `<span>`s without breaking anything, that's a bit better.

[2017-12-02 04:16] chrisheninger commented on #305
Good news... it's fixed! Not sure if something happened on your end or if FF updating to 57.0.1 fixed it... but looks nice now. :)

<img width="1307" alt="screen shot 2017-12-01 at 9 13 20 pm" src="https://user-images.githubusercontent.com/5051745/33511687-89f6b0fa-d6dc-11e7-8c71-d842bfbffe50.png">

I'll let you handle closing. 👍

[2017-12-02 11:28] Heydon opened #320 "Text cut off on right side of home page."
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Text is obscured on the right hand side of the screen at 0 zoom (default). See the image, below.
![image](https://user-images.githubusercontent.com/683558/33514922-54b89788-d753-11e7-928a-da1cf64fd8e2.png)

**- If the current behavior is a bug, please provide the steps to reproduce.**
Go to the hom

[2017-12-02 12:27] ronyth commented on #318
This happened too on my Chrome Version 62.0.3202.94 (Official Build) (64-bit) and Firefox 57.0 (64-bit).
https://deploy-preview-1958--smashing-magazine.netlify.com/ look same.

![screenshot_1](https://user-images.githubusercontent.com/5599174/33515470-9f4277ae-d796-11e7-92a5-3dd81441b5fd.png)

[2017-12-02 12:31] ronyth commented on #318
Here's Console log on Chrome (if that helps)
`Slow network is detected. Fallback font will be used while loading: https://d33wubrfki0l68.cloudfront.net/9c2752fab289f61c6ed3a1f78ab60fb2034103b7/bf691/fonts/elenawebregular/elenawebregular.woff
`
And I'm pretty sure my internet is not that slow.

![screenshot_2](https://user-images.githubusercontent.com/5599174/33515508-3eda3054-d797-11e7-94fd-7b1af1

[2017-12-02 14:40] vitalyfriedman commented on #318
Dear @ronyth — is it still the case now? We deployed a fix a few days ago! (see https://www.smashingmagazine.com/)

[2017-12-02 15:56] ronyth commented on #318
@vitalyfriedman Yes, it is. I cleared browser history too.
On the last Console output it says:
`ReferenceError: OA_output is not defined
    at postLoadLater ((index):2998)
    at (index):3013
`

[2017-12-02 18:45] vitalyfriedman commented on #315
Dear @opsional, how would you feel about this kind of layout?

![deploy-preview-2005--smashing-magazine netlify com_2017_09_new-font-technologies-improve-web_ 1](https://user-images.githubusercontent.com/4688396/33518679-a76a1f62-d7a1-11e7-9e30-5b7687daf0b2.png)

[2017-12-02 18:46] vitalyfriedman commented on #277
Dear friends @spartanatreyu @Dorza @2mhost @k0R73z @theartofpeople @rafal-leap @Semo @WouterWidgets,

How would you feel about this kind of layout for articles?

![deploy-preview-2005--smashing-magazine netlify com_2017_09_new-font-technologies-improve-web_ 1](https://user-images.githubusercontent.com/4688396/33518692-fd3ab0aa-d7a1-11e7-8e9e-a399805779a9.png)

[2017-12-02 19:23] lembitk commented on #173
Closing, as all no-JS font fallbacks seem solid now and thus the reading experience in Thunderbird (== Gecko w/ JS disabled) is good.

[2017-12-02 19:23] #173 closed, assigned to pukhalski

[2017-12-03 01:42] TravisCardwell opened #321 "RSS/Atom feed too large"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

The [RSS/Atom feed](https://www.smashingmagazine.com/feed/) currently contains 2,789 entries, taking about ~2.5MB.  This causes the following undesired behavior:

* It takes RSS readers a relatively long time to download the feed each update.
* It takes RSS readers a relatively long time to parse

[2017-12-03 02:10] siliconforks commented on #321
Interesting - I was looking at the feed yesterday to check whether #264 was fixed, and at that time it only had the 50 most recent articles (which seemed like a reasonable amount); it must have just started doing this in the last day or so.

[2017-12-03 02:30] TravisCardwell commented on #321
I update my feeds twice per day, and this morning was the first time that the feed contained so many entries for me, but I may have been using the old feed.  (I removed the feed when it started causing issues, so I cannot check which one I was using.  I will of course put the feed back once the issue is resolved, btw!)

50 entries sounds reasonable to me.  Currently, that would contain entries fro

[2017-12-03 23:57] Dorza commented on #315
Id suggest putting the title block and the stuff beneath it back to the sane place...above the opening paragraph as is standard in ALL reading materials. Then put the "about the author" in the second column with the avatar the same size above the text and to the centre of the column. Yes I know 2 columns are boring in a flex/grid world and we want to explore these things but serioulsy somethings a

[2017-12-04 00:12] Dorza commented on #277
I just replied to issue 315....

It's good and refreshing to see engagement with us on this but from your perspective and smashing mag as a whole it would be very easy to get caught up in "suggestions" from us all, one can end up going around in circles getting nowhere! What I would do is just the common sense thing... The design is fantastic visually, I really genuinely love it (a tad too much re

[2017-12-04 07:07] ux-leap opened #322 "Please revert-back to the old UI"
Hi Guys,

Your new UI has loads of bugs and has not been received well by many. Could you add a button to revert back to the old UI and measure how many people chooses to do so. Your current UI a design first approach is pushing me and my colleges to the alternative bloging sites or read yours via RSS reader or chrome extension.

Thanks

[2017-12-04 08:31] rezamajidi opened #323 "Article Tags Doesn't Show in Article Page in Chrome 62"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your operating system version and the version of your browser**

[2017-12-04 08:33] rezamajidi commented on #323
![chrome62](https://user-images.githubusercontent.com/7690415/33543130-158e480c-d8eb-11e7-8061-a8bf8cfd2564.JPG)

[2017-12-04 10:25] Fjonan opened #324 "Possible memory leak"
I had opened one of the articles as a kind of reminder (https://www.smashingmagazine.com/2016/06/the-current-state-of-authentication-we-have-a-password-problem/) to read later. That was last week (I guess monday or tuesday). Today I saw that the tab was with over 3 GB of memory usage. Unfortunately when I opened the dev tools the memory usage dropped down to about 140 mb (my guess is that forced G

[2017-12-04 14:30] Fjonan commented on #324
Additional comment - I left the tab open, not active and it accumulates 8 kb per second in memory usage (currently at 206,2 MB). I am positive that some interval is causing this effect.

[2017-12-04 14:42] criterion9 commented on #318
I have the same behavior in Chrome. I do not see any blocked resources and ABP is disabled on the domain.

The font-family line when disabled shows the text.
.wf-loaded-stage2 .h2, .wf-loaded-stage2 h2 {
    /* font-family: Mija; */
}

[2017-12-04 15:34] vitalyfriedman commented on #318
Interesting, @criterion9, can you check what happens if it says:

.wf-loaded-stage2 .h2, .wf-loaded-stage2 h2 {
font-family: Mija, sans-serif;
}

Does the text appear then?

[2017-12-04 15:43] criterion9 commented on #318
That still doesn't render. It looks like most  of the fonts that are put in with html.wf-loaded-stage2 fail to render but also do not fall back. First place I would check since that means the render believes it has an appropriate font is any CDN node issues maybe caching a "bad" font file?

[2017-12-04 16:51] vitalyfriedman commented on #324
Oh thanks @Fjonan — we'll look into it of course!

[2017-12-04 16:52] vitalyfriedman commented on #323
Could you specify your OS, please? @rezamajidi

[2017-12-04 16:53] vitalyfriedman commented on #322
Thanks for your feedback, @rafal-leap — while we are working on refinements, perhaps you could use the "old-style" list of articles on www.smashingmagazine.com/articles/? It should be a good enough fallback, isn't it?..

[2017-12-04 16:53] #322 closed, assigned to nobody

[2017-12-04 16:54] vitalyfriedman commented on #320
Thanks @Heydon — it was a `nowrap` property. Will double check one more time. :-)

[2017-12-04 17:01] vitalyfriedman commented on #324
Dear @Fjonan — could you double check again, please? We've been running CrazyEgg to generate heatmaps, but it's gone now! (should be soon, after a new deploy) — could it be "//script.crazyegg.com/pages/scripts/0011/1125.js"?

[2017-12-05 04:13] zachleat commented on #318
Can you clear your site’s application storage in the devtools?

<img width="835" alt="image" src="https://user-images.githubusercontent.com/39355/33589759-563581e0-d940-11e7-93aa-4d982ad76954.png">

“Clear site data” at the bottom. I wonder if something was corrupted in your serviceworker.

[2017-12-05 05:32] ghost opened #325 "Article opening problem"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your operating system version and the version of your browser**

![1](https://user-images.githubusercontent.com/874860/33591453-b5d3653a-d996-11e7-909e-7e2384c7b98c.

[2017-12-05 06:37] Fjonan commented on #324
I reloaded the tab and left it open for a bit and now it does not accumulate any more memory. So this seemed to have fixed that.

Maybe you can halt CrazyEgg on window blur or if any interaction of the user fails to register for about 30 seconds?

Edit: 6 hours later, same situation.

[2017-12-05 07:52] deddythok commented on #318
same here. i'm using latest chrome and latest firefox
![image](https://user-images.githubusercontent.com/32954228/33595748-d96e5d3a-d9cb-11e7-9c5b-20972fd518fb.png)
![image](https://user-images.githubusercontent.com/32954228/33595756-e4c1872a-d9cb-11e7-99a6-70912db56f69.png)

[2017-12-05 08:52] #325 closed, assigned to nobody

[2017-12-05 11:00] rezamajidi commented on #323
I was using Win7 and now this problem has gone in Win10

[2017-12-05 13:43] fredrikwoll opened #326 "Smashing TV - Different timezones"
Couldn't find any open/closed issues about this. Was looking at when the webinar today was happening
and got a bit confused when it was listed in UTC two places and GMT another place.

**- Do you want to request a *feature* or report a *bug*?**
"bug"?

**- What is the current behavior?**
The Smashing TV "overview" and /membership page show time in UTC while the sub-page about the actual webinar
sh

[2017-12-05 14:09] chriskirknielsen opened #327 "Firefox freezes when opening RSS feed"
Hello there,

I have a bit of an issue with Firefox (57.0 on macOS Sierra) concerning the RSS feed from Smashing Magazine.
I have it saved is as a dynamic bookmark, but every time I try to load it (= hover the bookmark to open the list of articles), Firefox freezes for a few seconds. The list of articles shows up after a shirt while.

I fear this is an issue related to the number of links in the R

[2017-12-05 14:47] criterion9 commented on #318
Cleared all local files (cache, worker, cookies, etc) tagged for the domain and still no font render. For what it is worth attempting to convert the mija_regular-webfont.woff2 to a ttf using an online converter created a corrupted file.

[2017-12-05 15:10] criterion9 commented on #318
Also, the returned headers from CloudFront indicate a cache hit on edge. Probably a corrupted file in the chain somewhere.

[2017-12-05 15:46] jaxatto commented on #322
Vitaly, could you consider having a place for user feedback rather than just letting users report bugs? You have a lot of wonderful designers who visit your site and I'm sure their feedback would be worthwhile.

It feels like you've focused entirely on mobile and forgone any focus on your desktop users, with the odd misaligned article titles and distracting two column layout in your articles. I'd

[2017-12-05 16:31] vitalyfriedman commented on #322
Dear @jaxatto — oh, we are very thankful for all suggestions, and that's why we encourage everybody to submit enhancements and improvements here as well using labels. So we'd love to hear your thoughts, of course.

I've made it my tradition to run a usability session every day, and there are a few things we are exploring this very moment. One of them is moving away towards one-column layout, as yo

[2017-12-05 16:31] vitalyfriedman commented on #326
Ouch, good point @fredrikwoll — fixing!

[2017-12-05 16:51] vitalyfriedman commented on #324
Very strange. Looking into it @Fjonan.

[2017-12-05 17:22] jaxatto commented on #322
Thank you for the quick response, I'm glad to hear you take user feedback very seriously. I love my daily visit to Smashing Magazine and appreciate your team's work to provide an awesome user experience. If you think it'd help, I'll add some comments in a ticket soon. :)

[2017-12-05 19:35] rzamoramty commented on #277
@vitalyfriedman I think the problem is that everything in the home and article layouts is screaming for attention. There's a reason Medium is so popular, it focuses your eyes on the article, so you can read distraction free.

I know you gotta put ads, but strangely ads are not the most distracting things in the layout. The big buttons, the summary, the table of contents, the huge side bar on the r

[2017-12-05 21:14] lembitk commented on #327
Related to / duplicate of #321.

[2017-12-05 21:24] vitalyfriedman commented on #320
Will be resolved in the next deploy! :-) @Heydon

[2017-12-05 21:24] #320 closed, assigned to nobody

[2017-12-05 21:27] vitalyfriedman commented on #316
Dear @fwolle30 — I'm afraid it would break the experience for people who want to tab through the navigation without jumping to the content. I guess that if you intent to jump to the main page, it's expected to prompt the action to jump? Or am I misunderstanding something here?

[2017-12-05 21:34] vitalyfriedman commented on #315
Dear @Dorza, thank you for pointing it out. The decision to keep the author at the top is a very conscious decisions that has been tested and validated in many usability tests. I know that we are breaking conventions here, but there is a good reason for it — well, at least we believe it's a good reason. The entire magazine is built on displaying and highlighting people making it all happen very pr

[2017-12-05 21:35] vitalyfriedman commented on #315
I take the liberty of closing this issue as it seems to be repeated in other threads. Still, looking forward to your thoughts!

[2017-12-05 21:35] #315 closed, assigned to nobody

[2017-12-05 21:55] vitalyfriedman commented on #314
Dear @PaulvdDool — that's weird, because actually the button should... never really disappear. Will be looking into it. Good catch!

[2017-12-05 21:57] vitalyfriedman commented on #313
Thanks dear @arshleyd — moving to enhancements that we'll look into after we sorted out all the critical stuff!

[2017-12-05 22:00] vitalyfriedman commented on #321
Thank you @TravisCardwell @siliconforks @lembitk — will be looking into it, definitely a bug that needs solving!

[2017-12-05 22:08] vitalyfriedman commented on #310
Good call! Thanks @luannguyen252 — noticing for later, once all the critical issues are resolved.

[2017-12-05 22:20] Dorza commented on #277
@vitalyfriedman in relation to your response on issue 315 what's huge is the everything on the page:
![screenshot from 2017-12-05 22-24-27](https://user-images.githubusercontent.com/1081957/33634143-181694be-da0b-11e7-830f-0eac2295da4b.png)

That's a 1920 x 1200 desktop screen, chrome 58 on Linux mint. The top content is just huge, padded out wide and in your face + a lot of wasted space in my vie

[2017-12-05 22:25] vitalyfriedman commented on #277
Dear @Dorza, oh I love constructive criticism, so please don't take my reply in a wrong way!
We are listening, and we are committed to getting things right! I respect your perspective, and so let me see what we can do to make it better.

We are a very small team, and there are a number of issues to solve, but please stay patient. I'm keeping this task on my to-do list!

[2017-12-05 23:25] vitalyfriedman commented on #327
The fix is being deployed @lembitk @chriskirknielsen — thanks for reporting it!

[2017-12-05 23:26] vitalyfriedman commented on #326
Will be fixed with the next deploy @fredrikwoll — thanks for reporting it!

[2017-12-05 23:32] vitalyfriedman commented on #312
Good catch! Will fix it when critical issues are solved! @nilsmielke

[2017-12-05 23:35] vitalyfriedman commented on #307
Dear @Graahf — is it possible to upload a recording in another format (not .swf), please?

[2017-12-05 23:39] vitalyfriedman commented on #306
Very good catch @normanfrancis! Just noticed Sara's comment on why it's in the code:

`margin-left: -1px; // FIXES THE FIRST LINE IN FLEXBOX IN SAFARI!! Safari shows one less item on first row for some reason, I noticed the first item in the grid is off to the right by 1px, so I tried moving it one px to the left and BOOM!`

:-\

[2017-12-05 23:46] vitalyfriedman commented on #306
Removing the bugfix for now as I couldn't replicate the issue in Safari 11. @normanfrancis
Fix being deployed! Thanks for reporting the issue!

[2017-12-05 23:46] #306 closed, assigned to nobody

[2017-12-05 23:47] vitalyfriedman commented on #317
Adding it to my to-do list. Thanks for reporting it! @PimDerks @Heydon
Will adjust after handling critical issues!

[2017-12-05 23:48] vitalyfriedman commented on #287
Correct! Will be fixed :-) Thanks for reporting it! @stephanie-walter

[2017-12-05 23:50] vitalyfriedman commented on #318
Humm... @zachleat — is it possible that MijaInitial was corrupted for some reason during subsetting?

[2017-12-05 23:50] vitalyfriedman commented on #323
Interesting. The issue is still not resolved though. Closing this one as it's a duplicate of https://github.com/smashingmagazine/redesign/issues/318.

Thanks for reporting the issue, @rezamajidi!

[2017-12-05 23:50] #323 closed, assigned to nobody

[2017-12-05 23:52] vitalyfriedman commented on #305
Hummm... Not so happy about magic solutions to problems... Closing for now, but will keep an eye in case it appears again. Thanks for reporting the issue, dear @chrisheninger!

[2017-12-05 23:52] #305 closed, assigned to nobody

[2017-12-05 23:53] vitalyfriedman commented on #300
Ah, good catch! On it, @ut4utc :-)

[2017-12-06 00:00] fwolle30 commented on #316
Well, if you use the tab key, and then get the prompt:
"Skip to maincontent?", wich is a link by the way, I expect that by pressing the spacebar, I activate the link, and jump right into the main content. This is working fine. However if I press the tab key a second time, I'm back to the top, although I've visited the link.

[2017-12-06 00:03] vitalyfriedman commented on #316
Ah! That's a good point! Adding it on my to-do list — got the problem now. Thanks @fwolle30 — will fix.

[2017-12-06 00:05] vitalyfriedman commented on #316
Uhm. I can't replicate the issue. Is this the behavior you are expecting?

![bug-issue](https://user-images.githubusercontent.com/4688396/33637501-f11cc53a-da29-11e7-95de-83bfc6516191.gif)

@fwolle30

[2017-12-06 00:15] fwolle30 commented on #316
Okay, I've tested it again. It seems like chrome doesn't follow a link, when the spacebar is used, and instead scrolls down a bit. If I press enter inatead, the link works as expected and the the correct links are highlighted when the tab key is pressed again.

[2017-12-06 00:15] #316 closed, assigned to nobody

[2017-12-06 00:23] zachleat commented on #318
It seems unlikely if we can't reproduce in the same OS and browser combination. Who did the subsetting? Is this something we can diagnose at the CDN level? Does Cloudfront offer tools for this kind of thing?

[2017-12-06 00:27] vitalyfriedman commented on #316
Phew, glad we sorted it out! Thanks for your help, @fwolle30 :-)

[2017-12-06 00:39] criterion9 commented on #318
It loads fine on my home computer (that hadn't attempted to load it since sometime a couple months ago). I would assume you need to invalidate cache at the edge. CloudFront offers an invalidation tool that can be used to force a refresh of a particular asset (or assets matching a pattern). This would make particular sense if a fix had been pushed recently and may not have reached all edge caches.

[2017-12-06 00:40] vitalyfriedman commented on #300
Fix is being deployed1 @ut4utc — thanks for reporting it!

[2017-12-06 00:40] vitalyfriedman commented on #286
Currently still for debugging purposes. Will remove close to the final release date ;-) Thanks for reporting it! :-)

[2017-12-06 00:41] vitalyfriedman commented on #303
Thanks for reporting this issue @leoloso — on it, and will update the index!

[2017-12-06 00:42] vitalyfriedman commented on #285
Good catch, @PimDerks — will resolve the issue as soon as I can!

[2017-12-06 00:43] vitalyfriedman commented on #302
Fix being deployed! @coliff

[2017-12-06 00:44] vitalyfriedman commented on #278
Still on it — now labelling as high priority to fix next.

[2017-12-06 00:46] vitalyfriedman commented on #278
Is it by any chance related to this #318 — but will explore in more detail.

[2017-12-06 00:46] vitalyfriedman commented on #283
Thanks for reporting it, @yoavweiss — will look into in detail next.

[2017-12-06 00:48] vitalyfriedman commented on #274
Dear @DirtyF — can you try one more time, please? Couldn't reproduce it in Firefox any longer! (Ah please with a cold cache).

[2017-12-06 00:49] #259 closed, assigned to nobody

[2017-12-06 00:51] vitalyfriedman commented on #258
The code highlighting has been recovered. Thanks for reporting it, @leoloso :-)

[2017-12-06 00:51] #258 closed, assigned to nobody

[2017-12-06 00:52] vitalyfriedman commented on #267
Interesting. Will need to investigate why it happens after all critical issues are resolved. @TheDutchCoder @zcdunn Thanks for reporting it!

[2017-12-06 00:55] vitalyfriedman commented on #255
Thank you so much for reporting it! The issue has been resolved almost a week :-) @42pe @sytheveenje

[2017-12-06 00:55] #255 closed, assigned to nobody

[2017-12-06 00:56] vitalyfriedman commented on #256
Thank you so much, @matthiasott — was a server glitch at that time as everything was... broken :) Thank you for reporting it! :-)

[2017-12-06 00:57] vitalyfriedman commented on #252
Dear @scebotari66 — oh good point! On it! Thanks so much for reporting it!

[2017-12-06 01:01] vitalyfriedman commented on #248
Thanks @matus-lukac — the issue has been resolved :)

[2017-12-06 01:01] #248 closed, assigned to nobody

[2017-12-06 01:01] vitalyfriedman commented on #242
Thanks @chaofix — the issue has been long resolved! Good catch!

[2017-12-06 01:01] #242 closed, assigned to nobody

[2017-12-06 01:02] vitalyfriedman commented on #239
The issue has been resolved :-) Thank you so much for reporting it! @bhaskarmac

[2017-12-06 01:02] #239 closed, assigned to nobody

[2017-12-06 01:03] #327 closed, assigned to nobody

[2017-12-06 01:03] #326 closed, assigned to nobody

[2017-12-06 01:03] #321 closed, assigned to nobody

[2017-12-06 01:03] #302 closed, assigned to nobody

[2017-12-06 01:03] #300 closed, assigned to nobody

[2017-12-06 01:04] vitalyfriedman commented on #271
The issue has been resolved, but we'll improve the code highlight in the next iteration. Thanks for reporting it, @prahladmishra :-)

[2017-12-06 01:04] #271 closed, assigned to nobody

[2017-12-06 01:05] vitalyfriedman commented on #222
Thank you so much, @shadeed — it has been resolved long time ago!

If you have some time, it'd be great if you could do another round of testing!

[2017-12-06 01:05] #222 closed, assigned to nobody

[2017-12-06 06:20] Graahf commented on #307
Hi,

Is this better?

https://drive.google.com/file/d/1kCX6qoWO6dZkjtnkfUxzs8G-hIHaAkjo/view

//Graahf

[2017-12-06 06:22] bhaskarmac opened #328 "Suggestion - Books page should have filters or pagination."
**- Do you want to request a *feature* or report a *bug*?**
Feature
**- What is the current behaviour?**
Books page have lengthy scroll to page (https://next.smashingmagazine.com/ebooks/)

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behaviour?**
Books page should have filters or the pagination.

**- Please mention your operating system v

[2017-12-06 06:35] bhaskarmac opened #329 "On page load it displays red first and then white background on home page"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behaviour?**
On page load, it displays red first and then white background on the homepage.

**- If the current behaviour is a bug, please provide the steps to reproduce.**
1. Visit homepage (https://next.smashingmagazine.com/)
2. Change theme to white.
3. Refresh the page.
4. Observe for few seconds it displa

[2017-12-06 06:42] bhaskarmac opened #330 "On homepage "Don’t Miss These Articles on Smashing" text displayed on top of articles"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
On homepage when scrolled "Don’t Miss These Articles  on Smashing" text displayed on top of articles

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Visit homepage (https://next.smashingmagazine.com/)
2. Scroll down and observe the "Don’t Miss These Articles on Sm

[2017-12-06 09:01] vitalyfriedman commented on #329
Actually, that's a desired behavior — switch from red to white. But let me see how we can improve it! Thanks for reporting it, @bhaskarmac!

[2017-12-06 09:01] #329 closed, assigned to nobody

[2017-12-06 09:01] vitalyfriedman commented on #330
Thanks for reporting it, but that was a desired behavior, too. Not sure if we'll keep it this way though! @bhaskarmac

[2017-12-06 09:01] #330 closed, assigned to nobody

[2017-12-06 09:02] vitalyfriedman commented on #328
Good call! Adding it to our to-do list to add after all critical problems are solved. @bhaskarmac

[2017-12-06 09:34] Fjonan commented on #324
Just to clarify - with "same situation" I meant "no memory usage increase". Could have said that clearer, sorry.

Tab is still open and still at 127 MB

[2017-12-06 10:15] DirtyF commented on #274
Dear @vitalyfriedman, good news, the issue is not happening anymore. 🎉

[2017-12-06 10:15] #274 closed, assigned to nobody

[2017-12-06 13:26] vitalyfriedman commented on #252
@scebotari66 The fix is being deployed! Thanks for reporting it!

[2017-12-06 13:39] vitalyfriedman commented on #270
Thanks for reporting it — will look into it in more details once all critical issues are resolved! @cwpnolen

[2017-12-06 13:41] vitalyfriedman commented on #272
Thanks for reporting the issue, @Stefany93 — can you confirm that it happens only on resize? The issue shouldn't be there on load. We are using Flickity here, and are consider on moving to an alternative. Adding to my list for refinements after all critical issues are closed!

[2017-12-06 13:42] vitalyfriedman commented on #273
Thanks for reporting the issue, @voodoocode — that was an intended behavior, but we are looking into refining it. Changes are to come. Adding to the list of refinements after all critical issues are resolved!

[2017-12-06 18:00] vitalyfriedman commented on #307
Yes, it's much better! :-) Weird but I can't replicate this issue over here at all :-\ It looks like it's a rounding error, but it heavily depends on zooming level and the actual viewport. Does this issue occur on narrow screen and large screens as well? @Graahf

[2017-12-06 18:05] vitalyfriedman commented on #318
Will be checking with @biilmann on Netlify if we could address it on the Cloudfront side of things.
As for subsetting: it appears that only Mija seems to be problematic although some screenshots have missing Elena as well. I'm wondering about MijaInitial and ElenaInitial — they don't really have any fallback stack, right? Perhaps adding Arial or sans-serif or something would help? @zachleat

[2017-12-06 18:22] vitalyfriedman commented on #299
Thanks for reporting the issue, @kevincrafts and @tehmooo — we are committed to minor and major changes coming up over the next few weeks and months, and it affects layout as well. Thanks for sticking around!

[2017-12-06 18:22] #299 closed, assigned to nobody

[2017-12-06 18:24] vitalyfriedman commented on #265
Thanks for reporting the issue @Lewiscowles1986 — we are aware of it and we are exploring options and refinements. We are on it ;-)

[2017-12-06 18:24] #265 closed, assigned to nobody

[2017-12-06 18:24] vitalyfriedman commented on #296
Good call, @joshas — adding for the list of things to add after all critical issues are resolved!

[2017-12-06 18:30] vitalyfriedman commented on #263
Adding a video in here to investigate what's going on.

![weird-jumps](https://user-images.githubusercontent.com/4688396/33678359-2d6902e8-dac4-11e7-8f56-6e85e7b6ad12.gif)

Adding on our to-do list to explore after taking care of all critical issues. Thanks for reporting the issue, @orielsy!

[2017-12-06 18:41] vitalyfriedman commented on #294
Issue found and fixed! Deploying coming up shortly! Thanks for reporting it @rCollins1!

[2017-12-06 18:47] vitalyfriedman commented on #272
Issue resolved, and a bugfix coming up shortly! Thanks so much for your help, @Stefany93!

[2017-12-06 20:09] #252 closed, assigned to nobody

[2017-12-06 21:07] stefany-newman commented on #272
^^ No problem and the problem isn't on resize it is on a desktop PC.

[2017-12-06 22:49] #272 closed, assigned to nobody

[2017-12-06 23:11] #294 closed, assigned to nobody

[2017-12-06 23:12] vitalyfriedman commented on #261
Thanks @rik — will take care of it soon!

[2017-12-07 00:02] vitalyfriedman commented on #261
Fixed, @rik — thanks for reporting it!

[2017-12-07 00:02] #261 closed, assigned to nobody

[2017-12-07 00:05] vitalyfriedman commented on #254
Good point @tobiasfabian — let me see how we'll adjust the layout. Good idea!

[2017-12-07 00:09] vitalyfriedman commented on #253
Good call! Fixed! Thanks for reporting it @lucprincen

[2017-12-07 00:09] #253 closed, assigned to nobody

[2017-12-07 00:10] vitalyfriedman commented on #251
Wow, that's really weird. @pverbeek @sandrarobotos Could you be very specific at which resolution they start disappearing?..

[2017-12-07 01:33] ginsterbusch opened #331 "White background version loads too late"
**- Do you want to request a *feature* or report a *bug*?**
a **bug**

**- What is the current behavior?**

When loading the front page, instead of directly loading the "white background" scheme, it initially loads the red first, and only after a bit of loading, flashes over to the white background. This is, as such, correct CSS behaviour, ie. the cascade, but certainly not what its supposed to do

[2017-12-07 01:34] vitalyfriedman commented on #246
Thanks for reporting the issue, @marcthiele — finally fixing ;-)

[2017-12-07 01:35] vitalyfriedman commented on #245
Should be fixed now, too ;-)

[2017-12-07 01:35] #245 closed, assigned to nobody

[2017-12-07 01:45] #246 closed, assigned to nobody

[2017-12-07 01:45] #241 closed, assigned to indysigner

[2017-12-07 01:46] vitalyfriedman commented on #243
Thanks for reporting it, @chaofix — the issue should be resolved two weeks ago ;-)

[2017-12-07 01:46] #243 closed, assigned to nobody

[2017-12-07 01:47] vitalyfriedman commented on #220
The issue has been resolved, @shadeed — thanks for reporting it!

[2017-12-07 01:47] #220 closed, assigned to nobody

[2017-12-07 06:12] Graahf commented on #307
Hmm, I just checked and it occurs on large screens (sitting with a viewport of 1920px x 1094px)

No issue on smaller screens

[2017-12-07 07:00] chaofix commented on #243
@vitalyfriedman thanks for the update, I opened this issue two weeks + 1 day ago :-)

[2017-12-07 07:38] jayne-mast commented on #251
hmm… I can't reproduce it anymore. @sandrarobotos do you still see it happening?

[2017-12-07 08:20] shadeed commented on #222
@vitalyfriedman Sure thing! My pleasure :)

[2017-12-07 08:21] danielt69 opened #332 "footer broken on https://www.smashingmagazine.com/2017/02/a-detailed-introduction-to-webpack/"
guys, this footer's page is broken

[](https://www.smashingmagazine.com/2017/02/a-detailed-introduction-to-webpack/)

[2017-12-07 10:05] vitalyfriedman commented on #332
Thanks for reporting it, @danielt69 — fix is being deployed!

[2017-12-07 10:08] vitalyfriedman commented on #225
Good call, @zanedev — will have to investigate why it happens! Thanks for reporting it.

[2017-12-07 10:09] vitalyfriedman commented on #219
The issue should be resolved now, @shadeed :-)

[2017-12-07 10:09] #219 closed, assigned to nobody

[2017-12-07 10:24] #332 closed, assigned to nobody

[2017-12-07 10:47] vitalyfriedman commented on #237
The issue is now resolved — thanks for reporting it @bhaskarmac :-)

[2017-12-07 10:47] #237 closed, assigned to nobody

[2017-12-07 10:47] vitalyfriedman commented on #236
The issue is resolved, thanks for reporting it @thious :-)

[2017-12-07 10:47] #236 closed, assigned to nobody

[2017-12-07 20:13] djschoone opened #333 "Google search input doesn't bring me to results"
When searching smashingmagazine, it shows a nice search box as a result in Google. When using this search it get's me to https://www.smashingmagazine.com/?s=angular

I expected the results of this search, but got the homepage.

I think some configuration OR redirection has to take place, because the URL that gave me the results is (now) https://www.smashingmagazine.com/search/?q=angular

[2017-12-07 22:11] zachleat commented on #318
@vitalyfriedman I think adding a fallback to the initial stack is unlikely to help. As you can see on http://output.jsbin.com/guruvel even using a stack that has no valid families still has an implied fallback.

This appears to be a FOIT, which to me suggests it’s a repeat view with a corrupted font file in one of the caches (or hanging request). Remember, repeat views using the sessionStorage tri

[2017-12-07 22:14] vitalyfriedman commented on #318
Uhm, that's something that @pukhalski can answer better!

[2017-12-07 22:26] zanedev commented on #225
@vitalyfriedman it dawned on me that it might be happening on my monitor an lg ultra wide only because I didn't see it later on my laptop.  Anyway if you can't reproduce it easily that might explain it

[2017-12-08 04:57] shaneturner opened #334 "ASD Accessibility."
Accessibility.

Just a heads up letting you know that the new design is not ASD friendly. Considering there's a lot more people in web dev and design with this disorder than in the standard population it might be worth your consideration.

This may help: [Autism Friendly Websites](http://www.autism.org.uk/professionals/others/website-design.aspx).

[2017-12-08 13:01] esoldao opened #335 "PAYPAL"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your operating system version and the version of your browser**

[2017-12-08 13:02] esoldao commented on #335
https://plus.google.com/communities/105086440586613576639

[2017-12-08 17:02] sandrarobotos commented on #251
@pverbeek @vitalyfriedman, yes I still see this happening. Screen resolution 1440x900. I start seeing this at 1300px. Smaller screen sizes are fine, animating in and everything.
I'm on a laptop right now, so can't tell if this happens above 1440px.

[2017-12-08 20:03] crenshaw-dev commented on #250
Hover text on the membership page also says every 4 months.

![magazine](https://user-images.githubusercontent.com/350466/33783014-ede83902-dc28-11e7-8ae2-eecf8058c111.PNG)

[2017-12-08 21:57] crenshaw-dev opened #336 "Credit card expiration field doesn't ignore the / character"
**- Do you want to request a *feature* or report a *bug*?**

Bug.

**- What is the current behavior?**

The credit card expiration field does not filter out the / character.

![image](https://user-images.githubusercontent.com/350466/33786864-d0055ffe-dc38-11e7-98f1-6361be5b8760.png)

**- If the current behavior is a bug, please provide the steps to reproduce.**

Go the the membership page, click a

[2017-12-09 13:20] nilsmielke opened #337 "Wrong credentials should not be marked green after login attempt"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**- Do you want to request a *feature* or report a *bug*?**
More of a UX thing.

**- What is the current behavior?**
When trying to login to membership with the wrong user or password you get the correct error message, but the credentials are still marked in green. This f

[2017-12-09 17:54] lpar opened #338 ""Dealing with stress as a designer" article shows up via search but page gives 404 error"
**- Do you want to request a *feature* or report a *bug*?**

Bug.

**- What is the current behavior?**

Two days ago you published https://www.smashingmagazine.com/2017/12/dealing-with-stress-designer-what-research-says/
The page now gives a 404 error. Using the site's own search engine, the page is found, but still gives 404.

**- If the current behavior is a bug, please provide the steps to repr

[2017-12-11 01:58] lembitk opened #339 "Link rot on old subdomains"
A bit off topic (sorry), but still worth reporting IMHO… A while (years) ago you used to have content on “thematic subdomains”, e.g. `coding.smashingmagazine.com`, `mobile.smashingmagazine.com` etc. Now all such URLs are broken, so there's a lot of [broken](http://mobile.smashingmagazine.com/2013/12/09/mobile-google-analytics-tag-manager/
) [links](http://coding.smashingmagazine.com/2013/10/29/get

[2017-12-11 15:26] Baysen opened #340 "Remove upcoming events / webinars from RSS"
You recently started scheduling your webinars and that's really helpful, but they also appear on top of the RSS feed and every time you release a new article, I have to scroll way down to view it.
Could you remove the webinars from the feed or offer a serarate one for those? Thanks!

[2017-12-11 15:26] siliconforks commented on #321
This bug was fixed for a while, but it seems to have returned today (Dec 11, 2017).

[2017-12-12 01:18] larsenwork opened #341 "Bug: Double dashes turns into en-dash"
**- Do you want to request a *feature* or report a *bug*?**
🐛

**- What is the current behavior?**
`--` becomes `–`

**- If the current behavior is a bug, please provide the steps to reproduce.**
Go to e.g. https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/

**- What is the expected behavior?**
`--` stays untouched

**- Please mention your operating system version and the

[2017-12-12 04:34] bhaskarmac opened #342 "Rendering issue on Membership page"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
"-->" is displayed on membership page (https://next.smashingmagazine.com/membership/)

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Login to the https://next.smashingmagazine.com
2. scroll down till "Coming Up Next in Membership" section
3. Observe you can see t

[2017-12-12 04:42] bhaskarmac opened #343 ""Keep me meowed in" option automatically checked when clicked on email field"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
"Keep me meowed in" option automatically checked when clicked on email field on login page (https://next.smashingmagazine.com/auth/)

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Visit https://next.smashingmagazine.com/auth/
2. Uncheck the "Keep me meowed in" op

[2017-12-12 06:21] tache commented on #277
I am sorry to say that the new site design does not work. Very hard to understand what is going on. Where I could easily skim to see topics and the content start, now I do not know even where to start. Sadly, after multiple attempts, I cannot see myself keeping it my must reads. In fact it is leading me to abandon the site.

[2017-12-12 07:46] RadekHavelka commented on #277
Sadly, I have to agreee with @tache - on Ipad, it takes several seconds before the horribly ugly red turns to white, when user chose to do so, which doesn't make it any better, my eyes hurts. I cannot see more than two article HEADINGS on the homepage without scrolling, which makes it rather useless, as scrolling is not smooth at all, again, takes several seconds to start to react. Reading article

[2017-12-12 08:10] vitalyfriedman commented on #335
Dear @esoldao — can you report, please? It says:

"You'll need to join the community to see posts."

[2017-12-12 08:28] vitalyfriedman commented on #277
Thank you so much for your constructive feedback, @RadekHavelka @tache @Dorza and everybody else — we are listening, and we keep refining and adjusting the site. Still quite some work to do, but bear with us, and thanks for your time and your patience!

[2017-12-12 11:31] daveek opened #344 "Grid Size"
**- Do you want to request a *feature* or report a *bug*?**
Feature Grid Size

**- What is the current behavior?**

I'm my desktop, it's a resolution of 1920x950px and the home page doesn't fit very good.. "It is too Big"
here it is the screenshot originaly:

![smash-origin](https://user-images.githubusercontent.com/4696050/33882345-11bbe9e8-df38-11e7-94c0-4e20e546f2e1.png)

**- If the current beh

[2017-12-12 14:41] Levdbas commented on #321
I have the same issue. Large RSS feed ocurring in my browser.

[2017-12-12 22:55] eclarrrk opened #345 ""Search Job" input searches entire site"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
On Jobs page, enter a term into the "Search Jobs" search field.

If you *do not* hit Return, the results will be filtered.

If you *do* hit return, it will search the entire website—not just jobs— for that term upon hitting Return to submit the form.

**If the current behavior is a bug, please provide

[2017-12-12 23:26] chop-chop-org opened #346 "Page title image below expanded search is clipped"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Expanded search on Articles clips the page title section image
<img width="1344" alt="screen shot 2017-12-13 at 00 18 50" src="https://user-images.githubusercontent.com/5121413/33913926-19c316ac-df9c-11e7-87a8-d51948876033.png">

**- If the current behavior is a bug, please provide the steps to rep

[2017-12-13 12:25] vik144 commented on #277
ISSUE:While scrolling title is overlapping content.
I don't know if I need to make a separate issue but since the author is active here, I will post an issue. This is in Firefox developer edition. Design is great but its okay to follow traditional layouts for article pages.
<img width="1302" alt="screen shot 2017-12-13 at 5 43 32 pm" src="https://user-images.githubusercontent.com/6438951/33938717-

[2017-12-13 14:28] chinchang opened #347 "Duplicate content and broken styling in article"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Duplicate content and broken styling

**- If the current behavior is a bug, please provide the steps to reproduce.**
https://www.smashingmagazine.com/2013/10/challenging-css-best-practices-atomic-approach/

**- What is the expected behavior?**
No duplicate content and correct code block styling

**

[2017-12-13 22:29] vitalyfriedman commented on #347
Thanks for reporting it, @chinchang — we are on it!

[2017-12-13 22:30] vitalyfriedman commented on #345
Ahhh good catch, @eclarrrk — thanks for reporting it!

[2017-12-13 22:30] vitalyfriedman commented on #342
Thanks for reporting it! Fixed! :-) @bhaskarmac

[2017-12-13 22:30] #342 closed, assigned to nobody

[2017-12-13 22:36] vitalyfriedman commented on #341
Thanks so much for reporting the issue @larsenwork — fixed, and it's being deployed!

[2017-12-14 17:16] adamkelso-rg opened #348 "Any way to opt out of release candidate?"
Is there any way to opt out of the release candidate design? The garish red, confusing and unhelpful navigation, and overly large and animated elements has dropped the user friendliness and readability considerably.

[2017-12-14 21:52] charakterziffer commented on #137
Maybe the reason is that the underline thickness is defined as 1.5px. So sometimes it’s rendered as 1px, sometimes as 2px – in the CSS: `a { background-size: 100% 1.5px; }`. I’d also give the underline a little bit more distance to the text, so instead of `a { background-position: center bottom 29% }` maybe `a { background-position: center bottom 26% }` – but that depends heavily on the displayed

[2017-12-14 22:48] #341 closed, assigned to nobody

[2017-12-14 22:49] vitalyfriedman commented on #348
Thank you for your feedback, @adamkelso-rg, but I'm afraid at this point it's not an option. Might change once we are finished with the release though.

[2017-12-14 22:49] #348 closed, assigned to nobody

[2017-12-14 22:50] vitalyfriedman commented on #225
Should be fixed now. :-) @zanedev

[2017-12-14 22:50] #225 closed, assigned to nobody

[2017-12-15 01:56] tinstin opened #349 "Search resaults"
It may not be an issue but search results displayed random, I think latest article (by date of issue) must show first then follow by older.

[2017-12-15 08:27] petercalvert opened #350 "Appearance of third article in large windows"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When the article grid at the top of the homepage extends to three columns per row, the third article content appears higher than the initial two.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Visible when the browser width is above ~1935px. Does not appear to occur

[2017-12-15 23:22] matthiasott commented on #256
It just happened again at around 0:15 am CET.
<img width="1041" alt="bildschirmfoto 2017-12-16 um 00 15 56" src="https://user-images.githubusercontent.com/991611/34064145-231424a0-e1f7-11e7-9df3-96187f6168a1.png">

[2017-12-15 23:31] matthiasott commented on #256
Here's a video, only the homepage works in FF57 Mac for me. In Chrome and Safari everything works well.
[smashingmag-corrupted.m4v.zip](https://github.com/smashingmagazine/redesign/files/1564301/smashingmag-corrupted.m4v.zip)

[2017-12-15 23:48] vitalyfriedman commented on #256
Very strange, @matthiasott — wasn't able to reproduce it, but will check! Thanks for reporting it!

[2017-12-16 00:08] matthiasott commented on #256
You're welcome. Yes, strange. It works again, now. If it (ever) happens again I could try to get some more info about the request/response headers. I found this, maybe it is related? https://www.mozilla.org/en-US/security/advisories/mfsa2011-39/

[2017-12-16 21:45] eclarrrk commented on #345
No problem @vitalyfriedman — I was trying to find a cat (Felix). Instead I found a bug!

[2017-12-18 11:37] vrdriver commented on #277
Hi Vitally, while I agree with much of the sentiment on this issue, I appreciate that new designs and changes can be good. But, I'm struggling with the new layout  and feel completely lost on the new page. :/ First thing I did was change the red to white and check my zoom level - and then I zoomed right out. (on a 1080p screen).
As we all know, content is king. So whether it may feel cluttered, bu

[2017-12-18 11:40] vitalyfriedman commented on #277
Dear @vrdriver — oh we are listening. There are many things on our agenda to fix until later this year, so please stay tuned. Will address the issue of large... everything, too. We are listening indeed!

[2017-12-18 13:47] Soean opened #352 "No footer on the page"
**- Do you want to request a *feature* or report a *bug*?**
*bug*

**- What is the current behavior?**
I can't see the footer of the page:
https://www.smashingmagazine.com/2014/11/styling-and-animating-svgs-with-css/

**- What is the expected behavior?**
I want to read the full article and see the footer.

**- Please mention your operating system version and the version of your browser**
Mac OSX F

[2017-12-18 16:34] leoloso opened #353 "Article's publishing time not right"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
An article was published just minutes ago, yet it reads "About 8 hours ago". I'm based in Malaysia, which is GMT +8, maybe that's why?

**- If the current behavior is a bug, please provide the steps to reproduce.**
Homepage => latest articles => time of last article published. Check screenshot (art

[2017-12-18 17:40] vitalyfriedman commented on #350
Ah thank you, @petercalvert — will look into it tonight!

[2017-12-18 17:41] vitalyfriedman commented on #349
Yes, fully agree, @tinstin — we are looking into it!

[2017-12-19 09:02] #334 closed, assigned to nobody

[2017-12-20 13:46] vitalyfriedman commented on #350
Fixed, thanks @petercalvert :-)

[2017-12-20 13:46] #350 closed, assigned to nobody

[2017-12-20 14:52] dmgawel opened #354 "Detached "Hide talk details" button on London Conf page"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Weird "Hide talk details" button appears on London Conf event page, near the "Select A Conference" switch.

![hide-talk-details](https://user-images.githubusercontent.com/1322846/34212797-c298c964-e59d-11e7-96f4-79653fca58a8.png)

**- If the current behavior is a bug, please provide the steps to re

[2017-12-20 15:56] indysigner commented on #352
The issue has been resolved, thanks for reporting it, dear @Soean!

[2017-12-20 15:56] #352 closed, assigned to nobody

[2017-12-20 15:58] indysigner commented on #353
Hi @leoloso, this must have been an issue in our editorial workflow, where the timestamp wasn't updated for the article went live. Thanks for reporting it! (and sorry about that! :-)

[2017-12-20 15:58] #353 closed, assigned to nobody

[2017-12-20 16:05] #347 closed, assigned to nobody

[2017-12-20 16:06] indysigner commented on #347
Hi @chinchang, many thanks for reporting it! I just deployed a fix which should go live in the next few minutes.

[2017-12-20 16:10] vitalyfriedman commented on #344
Already adjusted @daveek — thanks for reporting it!

[2017-12-20 16:10] #344 closed, assigned to nobody

[2017-12-20 17:20] indysigner commented on #340
Hi @RemizZ, thanks for reporting the issue! Can you please let me know the feed URL you are using? (we have several feeds). Thank you!

[2017-12-20 17:24] indysigner commented on #339
Hi @lembitk, many thanks for reporting all these broken links. All the old subdomains are working again, and a redirect for the Google Analytics article is being deployed right at this moment. Thank you! :-)

[2017-12-20 17:24] #339 closed, assigned to nobody

[2017-12-20 17:25] indysigner commented on #338
hi @lpar, many thanks for reporting the issue, I just deployed a fix! Thank you.

[2017-12-20 17:25] #338 closed, assigned to nobody

[2017-12-20 17:27] #335 closed, assigned to nobody

[2017-12-20 17:28] indysigner commented on #335
Closing this since the bug hasn't been described and the user doesn't answer.

[2017-12-20 17:29] indysigner commented on #301
Hi @jakemason, many thanks for reporting this bug. We have removed the inline Table of Contents. Thank you!

[2017-12-20 17:29] #301 closed, assigned to nobody

[2017-12-20 17:34] indysigner commented on #333
Hi @djschoone, many thanks for reporting this! ATM I cannot replicate the issue, e.g. when I google for `angular site:smashingmagazine.com` Google gives me theses results:

![screenshot 2017-12-20 18 32 45](https://user-images.githubusercontent.com/4224281/34220235-32f34692-e5b4-11e7-8b4c-3ebb24f3203c.png)

When using the on-site search, I'm seeing this:

![screenshot 2017-12-20 18 33 16](https://

[2017-12-20 17:35] indysigner commented on #354
hi @dmgawel, many thanks for reporting this bug! A fix is on the way. Thank you! :-)

[2017-12-20 17:35] #354 closed, assigned to nobody

[2017-12-20 17:36] indysigner commented on #349
Hi @tinstin, this should be the case indeed. Can you give me any examples (keywords you were looking for) where you are seeing the problem?

[2017-12-20 17:46] indysigner commented on #324
Hi @Fjonan, could you please double-check if this issue is this a thing? I’m afraid I'm not able to replicate this behavior... Thank you!

[2017-12-20 17:47] indysigner commented on #303
Heyho @leoloso, can you please double-check if this issue is still a thing? It should have been fixed in the meanwhile. Thank you! :-)

[2017-12-20 17:57] vitalyfriedman commented on #349
Pretty much any keyword @indysigner, even "perf" returns a result from 2009.

![screen shot 2017-12-20 at 7 56 54 pm](https://user-images.githubusercontent.com/4688396/34221234-fbe592f2-e5bf-11e7-84cc-0c1accf57434.png)

[2017-12-20 18:02] indysigner commented on #32
This issue has been fixed in the meanwhile. Thanks for reporting it, dear @Nikita-schetko!

[2017-12-20 18:02] #32 closed, assigned to biilmann, pukhalski

[2017-12-20 18:04] indysigner commented on #33
This issue already has been resolved. Thanks for reporting it, dear @anselmh!

[2017-12-20 18:04] #33 closed, assigned to indysigner, vitalyfriedman

[2017-12-20 18:05] indysigner commented on #43
This issue already has been resolved. :-)

[2017-12-20 18:05] #43 closed, assigned to biilmann, pukhalski

[2017-12-20 18:06] indysigner commented on #54
hi @bigandy, thanks for this suggestion, the article icon now leads to `/articles/`. Thank you!

[2017-12-20 18:06] #54 closed, assigned to vitalyfriedman

[2017-12-20 18:09] indysigner commented on #61
Hi @carpenumidium, thanks for this suggestion / question. We indeed put quite some time into enabling users to click on Authors / Comments directly using nested links... so... allow me to close this issue since it's a desired behavior. Thank you.

[2017-12-20 18:09] #61 closed, assigned to vitalyfriedman

[2017-12-20 18:16] indysigner commented on #100
hi @daprice, many thanks for reporting the issue, this has been fixed in the meanwhile. Thank you!

[2017-12-20 18:16] #100 closed, assigned to biilmann, pukhalski, indysigner, vitalyfriedman

[2017-12-20 18:20] indysigner commented on #63
Hi @Haroenv, thanks for reporting this. We have fixed the issue in the meanwhile. Thank you.

[2017-12-20 18:20] #63 closed, assigned to pukhalski

[2017-12-20 18:22] indysigner commented on #79
Hi @shadeed, Many thanks for reporting the bug. We’ve fixed the issue in the meanwhile so I'm closing it. Thank you.

[2017-12-20 18:22] #79 closed, assigned to pukhalski

[2017-12-20 18:28] indysigner commented on #349
I see. But this really is because the keyword `perf` is nearer with the word “Perform” than with “Performance”. I think we can turn this ranking factor off, but that wouldn't really get us better search results. @vitalyfriedman

Any other examples?

[2017-12-20 18:39] indysigner commented on #62
Oh dear.. this is indeed sub-ideal. A fix will be on the way in any moment. Thanks for reporting it!

[2017-12-20 18:39] #62 closed, assigned to vitalyfriedman

[2017-12-20 19:06] indysigner commented on #76
Thank you dear @dstorey @avvertix for reporting the bug and coming up with a suggestion. A fix for Edge 14 will be deployed in a moment!
![screenshot 2017-12-20 20 02 51](https://user-images.githubusercontent.com/4224281/34223846-0e564976-e5c1-11e7-9829-69cea8b9d1d8.png)

(Note: this doesn't fix the issue in IE11).

[2017-12-20 19:06] #76 closed, assigned to pukhalski

[2017-12-20 19:53] Haroenv commented on #63
yep, was fixed meanwhile!

[2017-12-21 09:19] tinstin commented on #349
@indysigner sorry for late reply.  I have try with "react" and the result is what I expected to see right now, I think it was fixed.

[2017-12-21 10:29] Baysen commented on #340
Hey there! It's simply https://www.smashingmagazine.com/feed/ and it's the only feed shown to me by the Chrome extension Feeder.

[2017-12-21 11:33] #346 closed, assigned to nobody

[2017-12-21 11:33] #345 closed, assigned to nobody

[2017-12-21 11:33] #343 closed, assigned to nobody

[2017-12-21 12:19] indysigner commented on #340
OK, on it, thank you!

[2017-12-21 12:41] Fjonan commented on #324
After Vitaly told me to re-check (third comment) it did not reoccur. I checkd it again just now and I cannot see the same behavior like when I created the ticket.

[2017-12-21 12:46] indysigner commented on #349
Cool, thanks for letting me know! Also, feel free to reach out if you spot any other weirdness. I know it's not perfect yet, so I'll look for ways on how to improve the search results.

[2017-12-21 12:46] #349 closed, assigned to indysigner

[2017-12-21 12:56] indysigner commented on #324
Cool, thanks for the response! I think this was related to a heat map script from Crazyegg, where we wanted to visualize how users are using the new design. We already removed the script, so hopefully this shouldn't be an issue any longer. Thanks again!

[2017-12-21 12:56] #324 closed, assigned to nobody

[2017-12-21 13:06] indysigner commented on #122
This issue has been resolved in the meanwhile, thanks for reporting it!

[2017-12-21 13:06] djschoone commented on #333
Hello @indysigner ,

Your welcome! Great to see this follow up.

The search I used was the free search Google gives me. See below.

![image](https://user-images.githubusercontent.com/185512/34256933-f5207192-e657-11e7-9d4a-2a4cd61a54f9.png)

When entering 'angular' where it states 'Zoeken in smashingmagazine.com' it brings me to the wrong aforementioned URL.

[2017-12-21 13:12] indysigner commented on #86
This has been fixed in the meanwhile. Thanks for the heads-up, dear @leoloso!

[2017-12-21 13:12] #86 closed, assigned to biilmann, indysigner

[2017-12-21 13:13] indysigner commented on #84
hi @shadeed, we have resolved the issue. Thanks for reporting it!

[2017-12-21 13:13] #84 closed, assigned to pukhalski, vitalyfriedman

[2017-12-21 13:14] indysigner commented on #74
Hi @andyfitch, we have resolved this issue, many thanks for reporting it! And happy holidays!

[2017-12-21 13:14] #74 closed, assigned to pukhalski, vitalyfriedman

[2017-12-21 13:15] indysigner commented on #71
Hi @Marabyte, we have resolved this issue, many thanks for reporting it! And happy holidays!

[2017-12-21 13:15] #71 closed, assigned to biilmann, pukhalski

[2017-12-21 13:15] indysigner commented on #102
Hi @daprice, we have resolved this issue, many thanks for reporting it! And happy holidays!

[2017-12-21 13:15] #102 closed, assigned to vitalyfriedman

[2017-12-21 13:16] indysigner commented on #64
Hi @nachtfunke, we have removed the panel for now... many thanks for reporting it! And happy holidays!

[2017-12-21 13:16] #64 closed, assigned to vitalyfriedman

[2017-12-21 13:20] indysigner commented on #81
Hi @shadeed, we have refined the virtual receipt, many thanks for reporting it!

[2017-12-21 13:20] #81 closed, assigned to pukhalski

[2017-12-21 13:21] indysigner commented on #75
Hi @Marabyte, we have resolved this issue, many thanks for reporting it! And happy holidays!

[2017-12-21 13:21] #75 closed, assigned to pukhalski

[2017-12-21 13:25] indysigner commented on #162
Hi David, we'll look into it, thanks for reporting it!

![2017-12-21 1](https://user-images.githubusercontent.com/4224281/34257596-d02a337a-e65a-11e7-9fd6-e8bfb8d262fc.png)

[2017-12-21 13:34] indysigner commented on #157
Hi @shadeed, confirmed, thanks so much for suggesting the fix! Will deploy a fix in a moment. Also, many thanks for reporting the issue, dear @dstorey!

[2017-12-21 13:34] #157 closed, assigned to nobody

[2017-12-21 13:48] indysigner commented on #333
Interesting, thank you, that's super helpful.... will discuss with the team how to fix this.

[2017-12-21 13:58] indysigner commented on #340
This has been resolved, thanks! :-)

[2017-12-21 13:58] #340 closed, assigned to indysigner

[2017-12-21 14:05] indysigner commented on #217
Hi @shadeed, we have removed this panel so that should be no longer an issue. :-) Thanks for reporting it!

[2017-12-21 14:05] #217 closed, assigned to nobody

[2017-12-21 14:08] indysigner commented on #197
We've refined this NL panel in the meanwhile, thanks for reporting this!

[2017-12-21 14:08] #197 closed, assigned to nobody

[2017-12-21 14:09] indysigner commented on #187
Twitter does validate the articles again (I tested it today), so this should be resolved. thanks for reporting it, dear @filose!

![2017-12-21 5](https://user-images.githubusercontent.com/4224281/34259050-fd85584e-e660-11e7-98ea-eceb9c6d980d.png)

[2017-12-21 14:09] #187 closed, assigned to nobody

[2017-12-21 14:22] indysigner commented on #263
Hi @orielsy, this is a version-specific bug in Chrome 62. Once you upgrade to v63 (or the upcoming 64) this will be resolved. Thanks for reporting it!

[2017-12-21 14:22] #263 closed, assigned to nobody

[2017-12-21 14:24] indysigner commented on #153
This has been resolved in the meanwhile, thanks for reporting the issue, dear @shadeed!

[2017-12-21 14:24] #153 closed, assigned to nobody

[2017-12-21 15:40] DirtyF commented on #122
@indysigner can't find a link tag in the header on https://www.smashingmagazine.com/category/static-generators 😕

[2017-12-21 17:10] indysigner commented on #122
A, my apologies, was closing this issue too fast indeed. Let me see what we can do here. + CC @pukhalski

[2017-12-21 17:21] indysigner commented on #314
Yes, the back to top button is still a bit buggy on iOS Safari, but as Vitaly said, it should always be there, not just when scrolling up or down. Let me rephrase the title of this issue since it's a bit misleading.

[2017-12-26 09:04] charakterziffer opened #355 "Give visited links a different color"
It would be a nice feature, if the colour of a link showed whether I’ve visited the target page before. At the moment visited and “fresh” links have the same colour and from a link text I often can’t distinguish if I’ve been there already.

[2017-12-28 15:11] leoloso commented on #353
@indysigner Nops, it is still happening. I actually saw it said "20 min" and then it immediately became "7 hours" after loading, on top of this last article, so there's definitely something wrong on the javascript side. You will not see the bug unless you set your time to some other GMT

![screenshot-2017-12-28 smashing magazine for web designers and developers](https://user-images.githubuserconte

[2017-12-29 07:49] indysigner commented on #353
Right. There’s definitely something off here. Will look into it once we got some more critical issues out of the way, dear @leoloso. Thank you!

[2018-01-02 16:38] pubso commented on #277
Just my two cents to the discussion regarding article layout:
![clipboard02](https://user-images.githubusercontent.com/915735/34491434-ad7903f0-efe3-11e7-902e-e27dd6e22113.jpg)

[2018-01-03 19:40] chinchang opened #356 "Duplicate content in article"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Duplicate content inside the article

**- If the current behavior is a bug, please provide the steps to reproduce.**
https://www.smashingmagazine.com/2017/09/building-inclusive-toggle-buttons

**- What is the expected behavior?**
No duplicate content.

**- Please mention your operating system versi

[2018-01-09 14:28] Baysen opened #357 "Kinda ugly border on active link"
Just clicked a random link and saw this link border. Is this on purpose? I'm on Ubuntu Chrome 62. On Firefox 57 this looks a lot smoother. If this is on purpose, it looks... special :)
![activeborder](https://user-images.githubusercontent.com/8114313/34725529-822dd572-f551-11e7-9f36-67fb43938d59.png)

[2018-01-10 00:59] zcdunn opened #358 "Implement Web Share API"
**- Do you want to request a *feature* or report a *bug*?**
Feature
The Web Share API would make it easy for users viewing the site in standalone mode (where the URL is unaccessible) to share a specific article.
It can be feature detected so it only affects supporting browsers.
https://developers.google.com/web/updates/2016/09/navigator-share

[2018-01-17 12:47] LukaszLabedzki opened #359 "[Bug] Broken "Are you smashing, too?" button."
If you go to: https://www.smashingmagazine.com/2017/12/the-new-mystery-riddle-emoji-edition/ you can see that "Are you smashing, too?" button on the right is split by "Continue reading full screen" section.

Viewed on latest Chrome, MacBook Pro

[2018-01-17 12:50] LukaszLabedzki opened #360 "Missleading slug for workshop"
When you go to https://www.smashingmagazine.com/events/san-francisco-2018/#workshops-day-2 you can see Vitaly Friedman workshop called "New Front-End Adventures in Responsive Design" and it's URL is: https://www.smashingmagazine.com/workshops/new-front-end-adventures-in-responsive-design-london/ with london in it.

[2018-01-19 03:30] zachleat commented on #318
@vitalyfriedman I think my recommendation at this point will be to remove the ServiceWorker checks for the web fonts for now, since the URLs aren’t correct in the toolbox setup (as of today it is still using the local paths to your fonts, not the correct CDN urls that are being used in other places on the site).

## Change 1

Specifically, this means changing the JavaScript in the header from this

[2018-01-19 03:33] zachleat commented on #278
I’m downloading Ubuntu to test this.

[2018-01-19 06:14] Philosoft commented on #278
@zachleat there is no more need for this - FF 57.0.4 - all seems to display right (pages i report here, some articles/events - site seems ok to me now)

Thanks for reacting

[2018-01-19 06:14] #278 closed, assigned to nobody

[2018-01-19 10:05] vitalyfriedman commented on #318
Thanks @zachleat — @pukhalski can you look into it, please?

[2018-01-19 14:48] vitalyfriedman commented on #318
Just fixed the toolbox URLs, @zachleat — @sprom @ronyth @criterion9, could you double check if it's working for you now? www.smashingmagazine.com

[2018-01-19 14:49] indysigner commented on #360
Hi @LukaszLabedzki, many thanks for reporting the issue, I just deployed a fix! — Markus

[2018-01-19 14:49] #360 closed, assigned to nobody

[2018-01-19 14:54] indysigner commented on #359
Oh cool, thanks so much for the heads-up, dear @LukaszLabedzki. A fix is on the way.

[2018-01-19 14:54] #359 closed, assigned to nobody

[2018-01-19 14:55] indysigner commented on #357
This has been implemented by purpose, dear @RemizZ because of accessibility improvements.

[2018-01-19 14:55] #357 closed, assigned to nobody

[2018-01-19 15:02] indysigner commented on #356
Hi @chinchang, thanks for reporting the issue, a fix is on the way!

[2018-01-19 15:02] #356 closed, assigned to nobody

[2018-01-19 19:05] criterion9 commented on #318
That is actually worse. Almost no text shows now.
![image](https://user-images.githubusercontent.com/23464351/35166989-c9ffd0e4-fd21-11e7-8308-51c601e9940e.png)

[2018-01-19 21:02] vitalyfriedman commented on #318
Uhm. That's quite strange. It's still Chrome? Windows or Mac? Can you try to use Chrome Canary or an incognito window, please? @criterion9

[2018-01-22 13:25] criterion9 commented on #318
Same results using incognito. Windows 7 on Chrome.

[2018-01-25 13:54] criterion9 commented on #318
Not sure if this might help but a URL the service worker is attempting is getting stuck in WebSense: aHR0cHM6Ly9zdGF0cy5nLmRvdWJsZWNsaWNrLm5ldC9yL2NvbGxlY3Q_dj0xJmFpcD0xJnQ9ZGMmX3I9MyZ0aWQ9VUEtNjA1MjEyMzctMSZjaWQ9ODQ4NjAyNTI1LjE1MTYzODg2MzcmamlkPTY0Mjk5Mzg2NiZfZ2lkPTEzNzU4NTc2ODYuMTUxNjg4ODA3MSZnamlkPTE3MjkwODA2NjImX3Y9ajY2Jno9MTc4MDM5Mzg

[2018-01-25 16:52] zachleat commented on #318
Interesting! How’d you discover that?

[2018-01-25 17:59] criterion9 commented on #318
That request was getting force redirected to a capture portal over http instead of https so it was highlighted in the network tab. So I took a closer look. Not sure if that is helpful or not but figured I would share.

[2018-01-31 10:01] leoloso opened #361 "Algolia is indexing also draft articles"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Algolia is showing articles not published yet, check the screenshot:

![screenshot-2018-1-31 articles](https://user-images.githubusercontent.com/1981996/35616547-82817360-06b0-11e8-9a3e-575be5d71c23.png)

[2018-02-01 11:31] trinaldi opened #362 "Site doesn't render correctly - at all - on FF Dev. Edition"
[This is a screenshot](https://i.imgur.com/bgipRLq.png) of how the site renders -- without any add-ons or Privacy settings enabled on my `Firefox Developer Edition 59.0b5` using `Ubuntu 17.10`.

Well, the expected behavior is the one when I browse the site [using Chrome Version 65.0.3325.31 ](https://i.imgur.com/WL88emb.png)

The console doesn't show any errors, just a bunch of [debug info](https:

[2018-02-05 23:01] leoloso opened #363 "Internal server error when adding comment"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
2 problems:
1. When I add a particular comment, I get an internal server error
2. The "posting" keeps spinning forever, it doesn't inform the user that there was an error

Check the console in the screenshot:

![comment-error](https://user-images.githubusercontent.com/1981996/35833261-58d5ae20-0ac8

[2018-02-06 11:43] indysigner commented on #363
Yeah, having the same issue with this particular comment... please have a look @biilmann @pukhalski

The article is: https://www.smashingmagazine.com/2018/02/dynamic-website-static-content-cdn/

and I'm getting an errror 500 when trying to post this comment. Curly quotes or html quotes didn’t help either.

[2018-02-06 15:33] leoloso commented on #363
The issue is the "/", replacing with "\/" did work.

This fails:

<pre><code>curl -o /dev/null -s -w %{time_total} "https://content.getpop.org/en/?output=json&tp=RANDOM_NUMBER_HERE"</code></pre>

This works:

<pre><code>curl -o \/dev\/null -s -w %{time_total} "https:\/\/content.getpop.org\/en\/?output=json&tp=RANDOM_NUMBER_HERE"</code></pre>

[2018-02-14 10:58] indysigner commented on #303
This issue has been resolved thanks to Emily Hayman’s help.

[2018-02-14 10:58] #303 closed, assigned to nobody

[2018-02-14 10:59] indysigner commented on #363
Cool, we’ll have Ilya looking into this soon!

[2018-02-24 12:07] indysigner commented on #362
Hi @trinaldi, many thanks for reporting the bug but I cannot replicate this behavior in my FF Dev Edition browser.... could you please try to flush the browser cache and try it again, @trinaldi? Thank you!

And BTW, we don't develop for Chrome only... ;-)

[2018-02-24 14:00] trinaldi commented on #362
Hi @indysigner, thanks for your reply.

I'm also a developer and the first thing we tried is flushing the cache haha, but I did notice someting:
The issue might be related to the font rendering. As I tried to replicate the issue in my personal computer (`Arch LInux`), the site rendered perfectly (probably due a different `fontconfig` package?).

My Work notebook -- the one which doesn't render the

[2018-02-25 08:22] indysigner commented on #231
Hi @shadeed, many thanks for reporting this bug as well, we've fixed it in the meanwhile.

All the best,

— Markus

[2018-02-25 08:22] #231 closed, assigned to nobody

[2018-02-25 08:22] indysigner commented on #361
The issue has been fixed.

[2018-02-25 08:22] #361 closed, assigned to nobody

[2018-02-25 08:24] indysigner commented on #256
This happens to me quite often as well, and according to Console seems related to the Service Worker.... can you please have a look, @pukhalski?

[2018-02-25 08:26] indysigner commented on #215
We've fixed this issue in the meanwhile, thank you dear @shadeed!

[2018-02-25 08:26] #215 closed, assigned to nobody

[2018-02-25 08:29] indysigner commented on #250
Fixed! Many thanks for reporting it @anselmh @mac9416

[2018-02-25 08:29] #250 closed, assigned to nobody

[2018-02-25 08:30] indysigner commented on #232
Fixed, thank you! :-)

[2018-02-25 08:30] #232 closed, assigned to nobody

[2018-02-25 08:31] indysigner commented on #229
This also has been fixed in the meanwhile. Thank you!

[2018-02-25 08:31] #229 closed, assigned to nobody

[2018-02-25 08:34] indysigner commented on #227
We've fixed this in the meanwhile, as well. Thanks for reporting this inconsistency!

[2018-02-25 08:34] #227 closed, assigned to nobody

[2018-02-25 08:35] indysigner commented on #226
Fixed!

[2018-02-25 08:35] #226 closed, assigned to nobody

[2018-02-25 08:35] indysigner commented on #224
This also has been fixed, thank you!

[2018-02-25 08:35] #224 closed, assigned to nobody

[2018-02-25 08:36] indysigner commented on #223
This has been fixed, too. Thanks!

[2018-02-25 08:36] #223 closed, assigned to nobody

[2018-02-25 08:38] indysigner commented on #211
This has been resolved, as well. Thank you!

[2018-02-25 08:38] #211 closed, assigned to nobody

[2018-02-25 08:39] indysigner commented on #210
Resolved!

[2018-02-25 08:39] #210 closed, assigned to nobody

[2018-02-25 08:40] indysigner commented on #209
Fixed!

[2018-02-25 08:40] #209 closed, assigned to nobody

[2018-02-25 08:41] indysigner commented on #208
This issue has been resolved in the meanwhile, thanks for reporting it!

[2018-02-25 08:41] #208 closed, assigned to nobody

[2018-02-25 08:42] indysigner commented on #205
We've removed the carousel in the meanwhile (ppl didn't really use it), so that the issue has been resolved. Many thanks for reporting it!

[2018-02-25 08:42] #205 closed, assigned to nobody

[2018-02-25 08:43] indysigner commented on #201
I've cleaned up all the markup in the meanwhile, many thanks for reporting it and please let me know in case you find any further issues. Thank you!

[2018-02-25 08:43] #201 closed, assigned to indysigner

[2018-02-25 08:58] indysigner commented on #201
Just resolved the broken link, many thanks for reporting it!

[2018-02-25 09:04] indysigner commented on #199
Hi @shadeed, this issue has been fixed, thank you!

[2018-02-25 09:04] #199 closed, assigned to nobody

[2018-02-25 09:14] indysigner commented on #198
This is a great suggestion, will add `word-break: break-word;` which seems to be a bit more sensitive than using `break-all`. Thank you, dear @shadeed!

[2018-02-25 09:14] #198 closed, assigned to indysigner

[2018-02-25 09:15] indysigner commented on #195
This has been fixed in the meanwhile. :-)

[2018-02-25 09:15] #195 closed, assigned to nobody

[2018-02-25 09:17] indysigner commented on #137
Yeah, the link underline value was set to 1.5px —  I set this to 1px just a few days ago. Many thanks for reporting it! @florianbrinkmann

[2018-02-25 09:17] #137 closed, assigned to pukhalski, vitalyfriedman

[2018-02-27 08:31] marcthiele opened #364 "Wrong display of search bar on mobile phones"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Search is displayed in a wrong way and too short on a mobile phone

**- If the current behavior is a bug, please provide the steps to reproduce.**
Open Smashing Magazines website on an iPhone6s with latest Chrome or Safari, go to "search". Looks like shown in the attached image.

![2018-02-26-photo

[2018-03-05 14:42] criterion9 commented on #318
Got a new build from work and I can see text now. This new build was Windows 8.1.

[2018-03-05 15:15] vitalyfriedman commented on #318
Still quite mysterious, but glad that the issue was (finally) resolved! @criterion9

[2018-03-16 04:22] leoloso opened #365 "Staging is being indexed by Search Engines"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
I searched for myself in Duck Duck Go, and the results contained an entry to Smashing Magazine's Staging environment:

![screenshot-2018-3-16 leonardo losoviz at duckduckgo](https://user-images.githubusercontent.com/1981996/37503615-5b685b78-2914-11e8-99f6-5dddf610d453.png)

Apart from the fact tha

[2018-03-16 04:28] leoloso commented on #363
I added a comment on Smashing the other day, and this error is still happening. Then I had to escape the URL, adding "\\" before each "/", making the URL look very ugly and not clickable (the link is never added).

I wonder if this is happening to everyone? If that's the case, you may currently have less comments than could be, from people adding URLs in their comments, failing, and then giving up

[2018-03-20 08:48] nilsmielke opened #366 "Spectrum teaser in Member dashboard broken above 2232 px viewport width"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
![bildschirmfoto 2018-03-20 um 09 38 06](https://user-images.githubusercontent.com/8496033/37644314-b170ab94-2c23-11e8-84ab-aa36e71d242a.png)

**- Please mention your operating system version and the version of your browser**
macOS 10.12.6, Chrome 65.0.3325.162

[2018-04-12 20:35] salmanfarooqui opened #367 "Mija font not showing up on Chrome 65.0.3325.181"
On one of my older setup, i am not able to see any text using the font Mija on both Chrome 65.0.3325.181 and Firefox 59.0.2. I am using Windows 7 Ultimate 64-bit.
When i load the homepage, i am getting this - http://drops.salmanfarooqui.com/JvQm8s

MijaInitial works fine.

![smashing-magazine](https://user-images.githubusercontent.com/5029570/38701904-c3e689fa-3ebc-11e8-982d-1530b5a9c9db.gif)

[2018-04-24 12:01] #364 closed, assigned to nobody

[2018-04-24 12:08] #296 closed, assigned to nobody

[2018-05-14 12:01] salmanfarooqui commented on #367
fixed now

[2018-05-14 12:01] #367 closed, assigned to nobody

[2018-06-10 16:21] indysigner commented on #365
Oh yeah, that’s a good point. We were closing staging in the meanwhile, so that should be fixed. Thank you! :-)

[2018-06-10 16:21] #365 closed, assigned to nobody

[2018-07-03 22:44] charakterziffer opened #368 "Superscript digits in the comments area"
I’d like to report a bug. In the comments section of the Smashing website some digits are superscript, see combined screenshot:

![superscript](https://user-images.githubusercontent.com/7194876/42247777-8959e6e6-7f22-11e8-9e0c-7f9b13ee29dd.png)

I think it affects 1, 2 and 3 of the font Mija and may be because of the css code
`.article__comments { font-feature-settings: "lnum" 1,"frac" 1,"sups" 1,

[2018-07-27 07:53] indysigner commented on #368
Hi @charakterziffer, many thanks for reporting the issue, I just deployed a fix!

Thank you,

— Markus

[2018-07-27 07:53] #368 closed, assigned to nobody

[2018-07-27 07:57] indysigner commented on #366
Hi @nilsmielke, many thanks for reporting the issue and sorry for the late reply! The issue has been resolved in the meanwhile!
Thank you,

— Markus

![screenshot 2018-07-27 09 56 23](https://user-images.githubusercontent.com/4224281/43308917-706ffc7e-9183-11e8-872c-d88bfe77b6aa.png)

[2018-07-27 07:57] #366 closed, assigned to nobody

[2018-07-27 08:00] indysigner commented on #362
Hi @trinaldi, many thanks for reporting the issue and sorry for the late reply! The issue should have been resolved in the meanwhile since we uploaded a new set of font files — can you please have a look and let me know if the problem still exists?

Thank you,

— Markus

[2018-07-27 08:05] #318 closed, assigned to nobody

[2018-07-27 08:07] indysigner commented on #310
Hi @luannguyen252, many thanks for the feature suggestion and sorry for the late reply! We’ve implemented these link sharing links :-) just recently!

Thank you,

— Markus

![screenshot 2018-07-27 10 04 02](https://user-images.githubusercontent.com/4224281/43309343-d200fda2-9184-11e8-87b1-d1b52d234aaa.png)

[2018-07-27 08:07] #310 closed, assigned to nobody

[2018-07-27 08:11] indysigner commented on #286
Hi @farskid, many thanks for reporting the issue and sorry for the late reply! The issue has been resolved in the meanwhile!
Thank you,

— Markus

[2018-07-27 08:11] #286 closed, assigned to nobody

[2018-07-27 08:12] farskid commented on #286
@indysigner It's a pleasure :) keep the awesomeness 👍

[2018-07-27 08:16] indysigner commented on #122
Hi @DirtyF, sorry for the late reply! The issue has been resolved in the meanwhile!

Thank you,

— Markus

[2018-07-27 08:34] DirtyF commented on #122
@indysigner Thanks for letting me know.

RSS output format is indeed active on categories when suffixing URLs with `index.xml` but there seems to be no [link to the ouput fomat](https://gohugo.io/templates/output-formats#link-to-output-formats) in the head of the category page yet to make it easily discoverable.

[code]

[2018-07-27 08:39] indysigner commented on #122
Good catch, thank you! @pukhalski, can you please have a look?

[2018-07-27 17:01] trinaldi commented on #362
Hi, @indysigner .

First of all, thanks for the feedback! Don't worry about being late, the important thing is that you showed up.

I can confirm that the site is [working as expected](https://i.imgur.com/dnnLp7k.png) now.

(Remember to remove the `console.log()` :) )

Thanks!
PS: I'm closing the issue, since this is not an issue.

[2018-07-27 17:02] #362 closed, assigned to nobody

[2018-07-27 20:40] indysigner commented on #362
This is great to hear, thank you!

[2018-08-10 09:59] maliMirkec opened #369 "Image not showing"
**- Do you want to request a *feature* or report a *bug*?**

Bug.

**- What is the current behavior?**

Image not showing.

[Printscreen](http://prntscr.com/kgzfyh)

**- If the current behavior is a bug, please provide the steps to reproduce.**

Open https://www.smashingmagazine.com/category/membership.

**- What is the expected behavior?**

To see an image.

**- Please mention your operating syst

[2018-08-13 23:10] indysigner commented on #333
This issue has been (finally) resolved, thanks for reporting it!

[2018-08-13 23:10] #333 closed, assigned to indysigner

[2018-08-20 13:49] g1franc opened #370 "Max-witdh issue and inconsistencies"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
There is a max-width that is limiting to 80 col rules from the eighties. Thanks for the user with wide-screen. Therefore at some resolution, the limit change more to 120 col limit which is way better.

**- What is the expected behavior?**
Don't limit the max-width. User can use the "Reading mod

[2018-08-28 01:33] indysigner commented on #369
Hi @maliMirkec,

Many thanks for reporting the issue, I just deployed a fix!

Thank you,

— Markus

[2018-08-28 01:33] #369 closed, assigned to nobody

[2018-08-28 01:50] indysigner commented on #358
Hi @zcdunn,

Many thanks for your suggestion! While this is certainly interesting, it still is only being supported in Chrome Android (which make up only a small fraction of our readership), and it’s not even available in Chrome’s desktop versions (only as an experimental feature)... thus, we went for a more old school solution with no iframes or JavaScript required (using Twitter’s and Linkedin’s

[2018-08-28 01:50] #358 closed, assigned to nobody

[2018-10-11 11:54] Fjonan opened #371 "Can't finish order in shop with old reduced article still in cart"
I followed a link for the new Smashing Book 6 to pre-order it at 29,-, put it in the cart but abandoned the process afterwards (sorry).

Today I added another book (Form Design Patterns) to the cart. The Smashing Book 6 from weeks earlier was still shown as "in cart" with the reduced price of 29,- - the total was shown correct as 58,-. I tried to finish the purchase but on the "confirm order" page

[2018-10-19 07:11] petercalvert opened #372 "Redirect already logged in users who visit the /auth/ url to /membership/"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When a user has already logged in, but uses the 'Membership Login' link in the site footer, they're taken back to the login form, which hangs - the login button presents the content 'signing in' before adding any credentials but doesn't redirect the user. Because the button is disabled too, even af

[2018-11-28 19:25] #144 closed, assigned to pukhalski, vitalyfriedman

[2019-01-06 09:29] joshas opened #373 "Remove title, author and timestamp from RSS content"
**- Do you want to request a *feature* or report a *bug*?**
Report a bug.

**- What is the current behavior?**
RSS feed includes article title, author and timestamp in content.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Open Smashing Magazine RSS feed in any RSS reader. You'll see duplicated title and probably author, timestamp too (depending on RSS reader).
![

[2019-01-25 16:05] futtta commented on #256
same issue for me, error on console (FF 64 on Ubuntu 18/04):

![image](https://user-images.githubusercontent.com/181297/51757321-5a777300-20c3-11e9-8b5c-ee1c039777d2.png)

[2019-01-25 16:09] vitalyfriedman commented on #256
It's very strange and it doesn't show up for me at all. Is it an issue with a service worker maybe? Could you try to delete all its data and try again? Maybe there was a caching problem? Couldn't reproduce the issue here at all:

<img width="1469" alt="screen shot 2019-01-25 at 5 08 43 pm" src="https://user-images.githubusercontent.com/4688396/51757569-05882c80-20c4-11e9-9d86-b726be4e6162.png">

@

[2019-01-25 16:17] futtta commented on #256
Given the error it is most certainly an issue with the serviceworker;

A hard refresh fixed things, but given the fact I'm not the first and probably not the last to encounter this, you might want to (have someone) do a deepdive into what is happening? :-)

[2019-02-05 18:35] charakterziffer opened #374 "Links behave unexpected"
When I hold down the command key and click a link, then it normally gets opened in a new tab in the background. When I click a link with the right mouse button, a context menu opens. In both cases the original page stays the same and should not change to the link’s referred location.

Sadly it does, when I visit smashingmagazine.com the first time in a new browser session or after having it’s cook

[2019-02-09 13:34] vitalyfriedman commented on #256
@futtta Dear Frank, thanks for the message — oh absolutely, and I believe that @pukhalski will gladly look into it ;-)

[2019-07-19 10:56] codepo8 opened #375 ""Share on Twitter" link should include author twitter account, if possible."
I love sharing Smashing articles on Twitter, but the Twitter share link always adds only the smashing magazine account. As the article was written by an author and you have their Twtitter accounts, wouldn't it be nicer to change the tweet template to:

"How to herd goats"
{url}
by @author for @smashingmag